.accordion {
    padding: 20px 0;

    .accordionItem {
        border-bottom: 1px solid #ccc;

        /* Верхняя граница у первого элемента */
        &:first-of-type {
            border-top: 1px solid #ccc;
        }

        .accordionButton {
            background: none;
            border: none;
            width: 100%;
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;

            .arrowIcon {
                transition: transform 0.3s ease;
            }

            .open {
                transform: rotate(180deg);
            }
        }

        .accordionContent {
            padding-bottom: 15px;
            font-size: 16px;
            line-height: 1.5;

            p {
                margin: 12px 0; // Отступы между абзацами
                line-height: 1.6;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            /* Стили ссылок */
            a {
                color: #888;
                text-decoration: none;

                &:hover {
                    color: black;
                }
            }
        }
    }
}