.catalog {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--font-montserrat), sans-serif;

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .categories {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;

        button {
            padding: 10px 20px;
            border: 1px solid #ddd;
            background: none;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    /* Контейнер для карточек */
    .catalogGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); // 4 карточки в строке
        gap: 3px; // Фиксированное расстояние между карточками

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr); // 2 карточки в строке
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr); // 2 карточки в строке
        }
    }
}