.contactSection {
    margin-top: 20px;

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /* Строка с телефоном и кнопкой */
    .phoneRow {
        display: grid;
        height: 60px;
        grid-template-columns: 1fr 1fr;
        gap: 10px;


        input {
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1em;
            height: 60px;
        }

        button {
            border: 1px solid #000;
            background: #fff;
            color: #000;
            font-size: 1em;
            height: 60px;
            cursor: pointer;

            &:hover {
                background: #f2f2f2;
            }

            &:active {
                background: #e6e6e6;
            }
        }
    }

    /* После авторизации: сетка 2x2 */
    .userGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 20px;

        .formItem {
            display: flex;
            flex-direction: column;

            input {
                padding: 10px;
                border: 1px solid #ddd;
                font-size: 1em;
                height: 60px;
            }
        }
    }

    .disclaimer {
        margin-top: 10px;
        font-size: 0.7em;
        color: #999;

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}