.newSection {
    padding: 30px 20px;
    width: 100%;
    font-family: var(--font-montserrat), sans-serif;
}

.newTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.seeAll {
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

.swiperContainer {
    position: relative;
}

.newSwiper {
    /* дополнительные стили, если нужно */
}

.swiperSlide {
    flex-shrink: 0;
    width: auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    /* для вертикального расположения изображения и подписей */
    margin-right: 10px;
}

.newCard {
    width: 450px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.newImage {
    width: 100%;
    height: auto;
    /* либо можно задать фиксированную высоту, если нужно */
    object-fit: cover;
}

/* Новый блок для подписей под карточкой */
.cardCaptions {
    padding: 10px 20px;
    /* опционально, для выделения блока */
    text-align: left;
    /* выравнивание текста по левому краю */
}

/* Дополнительный класс для стилей ссылки на блок с подписями */
.cardCaptionsLink {
    text-decoration: none;
    color: inherit;
    /* чтобы ссылка не изменяла цвет текста */
}

.newTitle {
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.newPrice {
    margin: 0;
    font-size: 1.1em;
    color: #000;
}

.swiperButtonPrev,
.swiperButtonNext {
    color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.newPrev {
    left: 20px;
}

.newNext {
    right: 20px;
}

@media (max-width: 480px) {
    .newTop {
        h2 {
            font-size: 20px;
        }

        a {
            font-size: 14px;
        }
    }

    .newCard {
        width: 270px;
    }
}