.profile {
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .formGroup {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 16px;
        border: 1px solid #ccc;
        height: 60px;
    }

    input:focus-visible {
        outline: none;
        border: 1px solid #666;
    }

    .cityInput {
        margin-bottom: 0 !important;
    }

    .consent {
        font-size: 0.9em;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        height: 60px;
        font-size: 1em;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    /* Стили для автодополнения */
    .inputWrapper {
        position: relative;
    }

    .clearBtn {
        position: absolute;
        top: 51%;
        right: 10px;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 16px;
        color: #999;
        cursor: pointer;
        line-height: 0;
    }

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 5px;
        border: 1px solid #666;
        border-radius: 0;
        /* Убираем закруглённость */
        background: #fff;
        max-height: 200px;
        overflow-y: auto;
        z-index: 999;
        box-shadow: 0px 8px 20px 7px rgba(0, 0, 0, 0.2);
    }

    .dropdownOption {
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
            color: #959595;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}