.sortWrapper {
    min-width: 220px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.sortButton {
    padding: 10px 10px 10px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.sortArrow {
    width: 25px;
    height: 25px;
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}

.sortArrow.open {
    transform: rotate(180deg);
}

.sortDropdown {
    position: absolute;
    top: 100%;
    left: -15px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 20px 7px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sortDropdown.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.sortOption {
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.sortOption:hover {
    color: #959595;
}

.activeSort {
    font-weight: 600;
}