.swiper-button-prev,
.swiper-button-next {
    color: #000 !important;
    transform: scale(0.5) !important;
    width: 40px !important;
    height: 40px !important;
    z-index: 10 !important;
    pointer-events: auto !important;
    display: none;
    /* Скрываем стрелочки по умолчанию */
}

/* Если Swiper использует псевдоэлемент ::after для стрелок */
.swiper-button-prev::after,
.swiper-button-next::after {
    color: #000 !important;
}

/* Показываем стрелочки при наведении на контейнер слайдера */
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    display: block !important;
    /* Показываем стрелочки при наведении на слайдер */
}

/* При наведении меняем прозрачность */
.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 0.8 !important;
}

/* Настроим позиционирование, если требуется */
.swiper-button-prev {
    left: 5px !important;
}

.swiper-button-next {
    right: 5px !important;
}