.wishlist {
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .productsGrid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }

    /* Стиль для пустого избранного */
    .emptyWishlist {
        display: flex;
        text-align: center;
    }

    .emptyWishlist p {
        font-size: 24px;
        margin-bottom: 20px;
    }

}

@media (max-width: 1280px) {
    .wishlist .productsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .wishlist .productsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}